<!-- header.html.twig -->
<header>
    <nav>
        <ul>
            <li><a href="{{ path('index') }}">Home</a></li>
            <li><a href="{{ path('cart') }}">Cart</a></li>
            <li><a href="{{ path('checkout') }}">Checkout</a></li>
        </ul>
    </nav>
</header>
